name: Remote Deploy

on:
  push:
    branches:
      - main  # Set this to your default branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Execute Remote Commands via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Navigate to the project folder
            cd ~/artikoplaster.us
            rm -r /var/www/artikoplaster.us/public/
            git pull origin main
            hugo 
            sudo cp -r public/. /var/www/artikoplaster.us/public/
            rm -rf public/
